<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Saleh Test App</span>
    <span class="example-spacer"></span>
    <a mat-icon-button href="https://github.com/SaeedSalehlou/fintranet-test-15" target="_blank">
        <mat-icon>share</mat-icon></a>

</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-filter></app-filter>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>